---
layout: default
main_title: 資料ダウンロード
type: download
Description: クリアコードの各種資料のダウンロードいただけます。ホワイトペーパーや講演資料をご用意しています。
---

{%- for section in site.data.downloads %}
<h3>{{section.title}}</h3>
<div class='grid-x grid-margin-x'>
  {%- for item in section.items %}
  <div class="cell small-6 medium-4 card">
    <div class="card-image">
      <a href='{{ item.link | relative_url }}'>
        <img src="{{ item.link | relative_url | replace: '.html', '.png' }}">
      </a>
    </div>
    <div class="card-section">
      <h4><a href='{{ item.link | relative_url }}'>{{item.title}}</a></h4>
      <p>{{ item.content }}
    </div>
  </div>
  {%- endfor %}
</div>
{%- endfor %}
