<footer>
  <div class="inner grid-x align-justify">
    <div class="cell medium-6 content_l">
      <img width=260 height=61 src="{% link /images/footer_logo.svg %}" alt="ロゴ">
      <p class="title">株式会社クリアコード</p>
      <p class="text">〒359-1111<br>埼玉県所沢市緑町二丁目6番5号 芝﨑ビル103</p>
    </div>
    <div class="cell medium-6 grid-x content_r">
      <ul class="cell small-6 large-4">
        <li><a href="{{ "/" | relative_url }}">トップ</a></li>
        <li><a href="{{ "/services/" | relative_url }}">サービス</a></li>
        <li><a href="{{ "/about/" | relative_url }}">会社情報</a></li>
        <li><a href="{{ "/topics/" | relative_url }}">トピック</a></li>
        <li><a href="{{ "/press-releases/" | relative_url }}">プレスリリース</a></li>
        <li><a href="{{ "/glossary/" | relative_url }}">用語集</a></li>
      </ul>
      <ul class="cell small-6 large-4">
        <li><a href="{{ "/recruitment/" | relative_url }}">採用情報</a></li>
        <li><a href="{{ "/blog/" | relative_url }}">ブログ</a></li>
        <li><a href="{{ "/contact/" | relative_url }}">お問い合わせ</a></li>
        <li><a href="{{ "/license/" | relative_url }}">ライセンス</a></li>
        <li><a href="{{ "/privacy-policy/" | relative_url }}">プライバシーポリシー</a></li>
      </ul>
      <div class="sns_btn cell text-center large-4">
        <a class="twitter" href="https://twitter.com/_clear_code"><i class='fab fa-twitter'></i></a>
        <a href="https://www.facebook.com/ClearCode.Inc/"><i class='fab fa-facebook'></i></a>
        <a class="youtube" href="https://www.youtube.com/channel/UCkEC-Cwkvjctie6TdL6ykxg"><i class='fab fa-youtube'></i></a>
      </div>
    </div>
  </div>
  <div class="copy">
    ©2006-{{ site.time | date: "%Y"}} <a href="{{ "/" | relative_url }}" title="トップページ">株式会社クリアコード</a>
  </div>
</footer>
