<header>
  <div class="grid-x align-justify align-middle">
    <a href="{{ "/" | relative_url }}" class="header-logo">
      <h1 class="logo"><img width=260 height=61 src="{% link /images/header_logo.svg %}" alt="ClearCode"></h1>
    </a>
    <div class="header-right-group pc">
      <div class="header-btn-search grid-x align-right">
        <a class="header-download-btn btn grid-x" href="{{ "/downloads/" | relative_url }}">
          <p>資料ダウンロード<i class="fas fa-download"></i></p>
        </a>
        <div class="header-search">
          <form class="header-form" action="/ranguba/search/" method="get">
            <input type="search" name="query" placeholder="サイト内検索">
            <button class="header-search-btn" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </div>
      </div>
      <nav>
        <ul class="grid-x">
          <li><a href="{{ "/services/" | relative_url }}">サービス Services</a></li>
          <li><a href="{{ "/about/" | relative_url }}">会社情報 About Us</a></li>
          <li><a href="{{ "/topics/" | relative_url }}">トピック Topics</a></li>
          <li><a href="{{ "/press-releases/" | relative_url }}">プレスリリース Press Releases</a></li>
          <li><a href="{{ "/recruitment/" | relative_url }}">採用情報 Recruitment</a></li>
          <li><a href="{{ "/blog/" | relative_url }}">ブログ Blog</a></li>
          <li><a href="{{ "/contact/" | relative_url }}">お問い合わせ Contact</a></li>
        </ul>
      </nav>
    </div>
    <button type="button" class="drawer-toggle drawer-hamburger">
      <span class="sr-only">toggle navigation</span>
      <span class="drawer-hamburger-icon"></span>
    </button>

    <nav class="drawer-nav text-center" role="navigation">
      <div class="header-search">

        <form class="header-form" action="/ranguba/search/" method="get">
          <input type="search" name="query" placeholder="サイト内検索">
          <button class="header-search-btn" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>

      <a class="header-download-btn grid-x align-center" href="{{ "/downloads/" | relative_url }}">
        <p>資料ダウンロード<i class="fas fa-download"></i></p>
      </a>
      <ul class="drawer-menu">
        <li><a class="drawer-brand" href="{{ "/services/" | relative_url }}">サービス Services</a></li>
        <li><a class="drawer-brand" href="{{ "/about/" | relative_url }}">会社情報 About Us</a></li>
        <li><a class="drawer-brand" href="{{ "/topics/" | relative_url }}">トピック Topics</a></li>
        <li><a class="drawer-brand" href="{{ "/press-releases/" | relative_url }}">プレスリリース Press Releases</a></li>
        <li><a class="drawer-brand" href="{{ "/recruitment/" | relative_url }}">採用情報 Recruitment Info</a></li>
        <li><a class="drawer-brand" href="{{ "/blog/" | relative_url }}">ブログ Blog</a></li>
        <li><a class="drawer-brand" href="{{ "/contact/" | relative_url }}">お問い合わせ Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
