---
layout: default
main_title: Firefox法人向けマニュアル
sub_title:
---

<style>
a {text-decoration:none;color:#234dc1;}
a:hover {text-decoration:underline;}
h1 {font-size:2em}
div.content {font-size:0.95em}
div.content h2 {background:none;border-bottom:1px solid #99c;margin:1em 0;padding:0.1em 0;font-size:1.6em;clear:both;font-weight:normal;}
div.content h3 {font-size:1.3em;clear:both;margin-top:1.5em;}
#toc {background:#eeeeee;border:1px solid #cccccc;padding:1em;}
table {border-collapse:collapse;margin:1.5em 0;}
th,td {border:1px solid #ccc;padding:0.3em 2em;}
th {background:#f0f0f0;font-weight:normal;}
td {background:#fff;}
figure {width:400px;margin:2em 0;}
figure img {max-width:100%;border:1px solid #ccc;}
pre {background:#fafafa;border:1px solid #ccc;padding:1em;}
blockquote {border-left:1px solid #333;padding-left:1em;}
</style>

<p>
このマニュアルは、Firefoxを企業環境に導入するノウハウをまとめた手引きです。
<a href='https://www.clear-code.com/'>株式会社クリアコード</a>が作成しています。

<p>
最終更新: 2019年9月30日

<div id='toc'></div>

<h2 id='Install'>インストール</h2>

<p>
企業環境でFirefoxを運用する場合は、<a href='https://www.mozilla.org/en-US/firefox/organizations/'>ESR版</a>を使うことをお勧めしています。

<ol>
<li>
<a href='https://www.mozilla.org/ja-JP/firefox/organizations/all/'>Mozilla公式のダウンロードページ</a>を開きます。
<li>
Windows 64-bit &gt; Japanese (日本語) の欄をクリックします。
<li>
「Firefox Setup (...)esr.exe」をローカルに保存します (括弧内にはバージョン番号が入ります)
<li>
ダウンロードしたexeファイルを実行します。
</ol>

<p>
管理端末が多い場合は、Active Directoryのログオンスクリプトを利用して各端末で実行します。<code>/S</code>オプションを付与すると、GUIのウィザードをスキップしてインストーラを実行できます。

<pre>
PS&gt; "./Firefox Setup 68.0.2.exe" /S
</pre>

<h2 id='ReleaseCycle'>Firefoxのリリースサイクル</h2>

<p>
通常版のFirefoxについては、4週間ごとに新しいメジャーバージョンがリリースされます。例えば、「Firefox 75」が4月7日にリリースされたとすると、次の「Firefox 76」は（28日後にあたる）5月5日にリリースされるという具合です。4週間ごとにサイクルが一巡するので、高速リリースサイクル (Rapid Release Cycle) と呼ばれています。

<p style='margin:2em 0;'>
<img src='ReleaseNormal.png'>

<p>
Firefox ESRは、通常版に対する「長期サポートバージョン」に相当します。大きな機能変更ともなうメジャーバージョンは、1年に1回のみ配布されます。次のメジャーバージョンまでは、セキュリティパッチをあてたマイナーバージョン (68.1, 68.2 ...) が定期的に配布されます。

<p style='margin:2em 0;'>
<img src='ReleaseESR.png'>

<p>
Firefox ESRのそれぞれのメジャーバージョンは、次の新しいメジャーバージョンがリリースされてからも、移行猶予期間としてサポートが高速リリースサイクル2回分（計8週間）まで継続します。Firefox ESRを導入する場合、普段はマイナーバージョン更新を当てていき、1年に1回、新しいメジャーバージョンがリリースされたら、この移行猶予期間中に検証と移行を済ませる、という運用になります。


<h2 id='Configuration'>法人向けカスタマイズ</h2>

<p>
Firefoxには非常に多くの便利な機能を搭載されていますが、その中には法人利用に適さないものが少なくありません。Firefoxには組織運用向けの管理機能が存在しており、管理者の設定によって、必要のない機能をオフにしたり、自社向けの設定を導入したりすることができます。

<p>
組織設定を導入する方法には、大きく二つの方法があります。

<table>
<tr><th></th><th>Policy Engine</th><th>AutoConfig (MCD)</th></tr>
<tr>
  <td>利用可能バージョン</td>
  <td>Firefox 60.0以降</td>
  <td>Firefox 0.8以降</td>
</tr>
<tr>
  <td>設定形式</td>
  <td>JSON</td>
  <td>JavaScript</td>
</tr>
<tr>
  <td>設定できる項目</td>
  <td>約50項目</td>
  <td>約1000項目</td>
<tr>
  <td>運用の難易度</td>
  <td>低</td>
  <td>高</td>
</tr>
</table>

<p>
まずは、比較的導入が容易な Policy Engine を導入することをお勧めします。それで足りない部分があれば、補助的にAutoConfigを使います。

<h3 id='PolicyEngine'>Policy Engine</h3>

<p>
Polcy Engineとは、Firefox 60で導入された法人向けのカスタマイズの仕組みです。法人運用でニーズの高いカスタマイズ項目を、管理者が手軽に設定できるようになっています。Policy Engineを利用するには、次の手順で導入します。

<ol>
<li>次の内容を<code>policies.json</code>というファイル名で保存します：

<pre>
{
  "policies": {
    "DisableFirefoxAccounts": true,
    "DisablePocket": true
  }
}
</pre>

<li>ファイルを <code>C:\Program Files\Mozilla\Firefox\distribution</code> 配下に配置します。

<pre>
PS &gt; mkdir C:\Program Files\Mozilla\Firefox\distribution
PS &gt; cp policies.json C:\Program Files\Mozilla\Firefox\distribution\policies.json
</pre>

<p>
※ Firefoxを <code>C:\Program Files\Mozilla\Firefox</code> 以外にインストールしている場合は、配置するパスを読み替えてください
</ol>

Firefoxを再起動して、ツールバーから設定画面を開きます。ページトップに「ご使用のブラウザーはあなたの所属組織に...」と表示されていれば成功です。

<figure>
<a href='PolicyEngine.png'><img src='PolicyEngine.png'></a>
</figure>

<h3 id='AutoConfig'>AutoConfig (Mission Control Desktop, MCD)</h3>

<p>
Firefoxはブラウザの設定を内部設定値として保持しています（内部設定値の一覧は <code>about:config</code> で確認できます）。

<p>
AutoConfigとは、管理者がFirefoxの内部設定値を上書きできるようにする仕組みです。1000項目近い設定を自由に書き換えられるので柔軟性は高いのですが、その代わり各設定値のコンテキストを理解する必要があるので、運用上の難易度は高いです。

<p>
AutoConfigを利用する場合は、次の手順で導入します。

<ol>
<li><code>C:\Program Files\Mozilla\Firefox\defalts\pref\autoconfig.js</code>を作成します：

<pre>
pref("general.config.obscure_value", 0);
pref("general.config.filename", "autoconfig.cfg");
pref("general.config.vendor", "autoconfig");
</pre>

<li><code>C:\Program Files\Mozilla\Firefox\autoconfig.cfg</code>を作成します：

<pre>
// The first line is ignored.
lockPref("beacon.enabled", false);
</pre>
</ol>

<p>
Firefoxを別の場所にインストールしている場合は、配置パスの前半部分 <code>C:\Program Files\Mozilla\Firefox</code> を環境のパスに読み替えてください。

<h2 id='Recipes'>カスタマイズレシピ集</h2>

<h3 id='DisableFirefoxAccount'>Firefox Accountの利用を禁止する</h3>

<p>
<a href='https://www.mozilla.org/en-US/firefox/accounts/'>Firefox Account</a> はFirefoxの状態をデバイス間で同期する仕組みです。Mozillaのサーバーにブックマークや履歴などの情報を保存し、それぞれの端末に配信します。機能の性質上、外部のサーバーに情報を保存することになるので、法人向けの運用では利用を禁止することが多いです。

<p>
機能を停止したい場合は、Policy Engineに次の設定を加えます。

<pre>
"DisableFirefoxAccounts": true
</pre>

<h3 id='DisablePocket'>Pocketの利用を禁止する</h3>

<p>
<a href='https://getpocket.com/'>Pocket</a> はリーディングリストサービスです。FirefoxにはPocketサービスとの連携機能が標準で組み込まれており、閲覧中の記事をツールバーのボタンで保存することができます。外部のサーバーに情報を保存することになるので、企業運用では利用を禁止するケースが多い機能です。

<p>
機能を停止したい場合は、Policy Engineに次の設定を加えます。

<pre>
"DisablePocket": true,
</pre>


<h3 id='DisableSaveLogins'>パスワードをブラウザに保存させない</h3>

<p>
次の設定をPolicy Engineに加えると、ログイン時に表示される「パスワードを保存しますか？」のポップアップを停止させることができます。

<pre>
"OfferToSaveLogins": false,
</pre>

<h3 id='DisableFirefoxStudies'>新機能テストに参加しない</h3>

<p>
Firefoxに新しい機能が追加される際に、トライアルとして一部の端末のみ機能が有効化されることがあります。

<p>
管理端末の動作にばらつきが生じる原因になるので、法人運用では忌避されることが多い機能です。次の設定をPolicy Engineに加えることで、テストへの参加を停止することができます。

<pre>
"DisableFirefoxStudies": true,
</pre>

<h3 id='UseSaveLogins'>プロキシ経由でインターネットに接続する</h3>

<p>
社内ネットワークの関係で、インターネット接続時にプロキシを通す必要がある場合は、Policy Engineに次のように設定を加えて下さい。

<pre>
"Proxy": {
  "Mode": "manual",
  "HTTPProxy": "example.com:4000",
  "UseHTTPProxyForAllProtocols": true,
  "Locked": true
},
</pre>

<h3 id='DisableAddons'>アドオンの利用を禁止する</h3>

<p>
Firefoxの一つのメリットは膨大なアドオンのリソースが存在することですが、法人環境では端末ごとに自由にアドオンをインストールさせたくないという場合もあります。そのような場合は、次の設定をPolicy Engineに追加します。

<pre>
"BlockAboutAddons": true,
"InstallAddonsPermission": {
  "Default": false
},
</pre>

<h3 id='SetHomepage'>ホームページを設定する</h3>

<p>
起動時のホームページをイントラサイトなどに設定したい場合は、次の設定を追加してください。

<pre>
"Homepage": {
  "URL": "http://example.com",
  "Locked": true,
},
</pre>

<h3 id='DisableTelemetry'>ブラウザ利用統計の送信を停止する</h3>

<p>
Firefoxにはブラウザの利用状況を収集する機能が組み込まれており、収集した統計情報を定期的にMozillaのサーバーに送信します。企業環境では、情報セキュリティの観点から、次の設定をPolicy Engineに導入して機能を無効化することが多いです。

<pre>
"DisableTelemetry": true,
</pre>

<h2 id='Link'>参考リンク</h2>

<ul>
<li>
<a href='https://wiki.mozilla.org/Release_Management/Calendar'>Firefox Release Calender</a> ... Firefoxの正式なリリース予定はこのページに整理されています。
<li>
<a href='https://github.com/mozilla/policy-templates'>mozilla/policy-templates</a> ... Policy Engineで設定可能な項目の一覧を確認できます。
</ul>

<!--
<h3 id='SaveLogins'>メモリキャッシュのサイズを制限する</h3>
<h3 id='SaveLogins'>位置情報を利用させない</h3>
<h3 id='SaveLogins'>Webビーコンを利用させない</h3>
<h3 id='SaveLogins'>クラッシュレポートの送信を停止する</h3>
<h3 id='SaveLogins'>セキュリティエラーレポートの送信を停止する</h3>
<h3 id='SaveLogins'>フォームの入力値をブラウザに保存させない</h3>
-->

<script>
function addLink(node, id, text) {
    var link = document.createElement('li');
    link.innerHTML = '<a href="#' + id + '">' + text + '</a>';
    node.appendChild(link);
    return link;
}

function addNest(node) {
    var nest = document.createElement('ul');
    node.appendChild(nest);
    return nest;
}

function addTableOfContents(node) {
    var i, curr;
    var list = document.querySelectorAll('h2, h3');
    var prev = null;
    for (i = 0; i < list.length; i++) {
        curr = list[i];
        if (!prev || prev.tagName < curr.tagName) {
            node = addNest(node);
        } else if (prev.tagName > curr.tagName) {
            node = node.parentNode;
        }
        addLink(node, curr.id, curr.innerText);
        prev = curr;
    }
}

addTableOfContents(document.getElementById('toc'))
</script>

