---
layout: default
main_title: ブラウザー切替ツールBrowserSelectorをリリース
sub_title:
type: press
---

<p class='press-release-subtitle'>
複数ブラウザー併用環境におけるブラウザー選択のコストを軽減

<div class="press-release-signature">
  <p class="date">2019年11月28日</p>
  <p>株式会社クリアコード
</div>

<p>
株式会社クリアコード（本社：東京都豊島区、代表取締役：須藤 功平）は、URLパターンに応じて起動するWebブラウザーを切り替えるためのWindowsアプリケーションであるBrowserSelectorを開発、本日オープンソースソフトウェアとして公開しました。

<p>
<b>【BrowserSelectorプロジェクトURL】</b>
<a href='https://gitlab.com/clear-code/browserselector'>https://gitlab.com/clear-code/browserselector</a><br>
<b>【署名済みモジュールのダウンロードURL】</b>
<a href='https://gitlab.com/clear-code/browserselector/-/releases#v1.2.1'>https://gitlab.com/clear-code/browserselector/-/releases#v1.2.1</a>

<h2 id='background'>BrowserSelector開発の背景</h2>

<p>
クリアコードでは創業以来Mozilla Firefox(以下、Firefox)の企業導入やサポートを行っています。
企業におけるFirefox導入目的として多いのは、社内システムなど特定のサービスはInternet Explorer（以下、IE）で利用し、それ以外のインターネットアクセスはモダンなWebブラウザーを利用したいというものです。

<p>
クリアコードではこのようなニーズに対して、IE View WEというFirefox用のアドオンを提供しています。IE View WEはFirefox上でリンクのクリックやURLバーへの入力等でページ遷移が発生する際にURLを判定し、WebブラウザーをIEに切り替えます。

<p>
近年、IE View WEとは逆方向、つまりIEからFirefoxに切り替えたいというニーズを多くいただいたことから、BrowserSelectorを新規に開発、公開しました。これによって企業でのFirefox利用拡大を期待しています。

<p>
<b>【IE Viwe WE公開サイトURL】</b>
<a href='https://addons.mozilla.org/ja/firefox/addon/ie-view-we/'>https://addons.mozilla.org/ja/firefox/addon/ie-view-we/</a>

<h2 id='overview'>BrowserSelectorとは</h2>

<p>
BrowserSelectorはURLパターンに応じて、起動するWebブラウザーを自動的に切り替えるためのWindowsアプリケーションで、主にIEとFirefoxやGoogle Chrome（以下、Chrome）を併用している環境において、Webブラウザー切り替えの自動化を支援します。

<table>
<tr>
<th>BrowserSelectorがない時</th>
<th>BrowserSelectorがある時</th>
</tr>
<tr>
<td><img width=400 alt='BrowserSelectorがない時' src='20191128-browser-selector/before.png'></td>
<td><img width=400 alt='BrowserSelectorがある時' src='20191128-browser-selector/after.png'></td>
</td>
</table>

<h2 id='components'>BrowserSelectorの構成</h2>

<p>
BrowserSelectorは以下の2つのモジュールから成ります。

<p>
<b>BrowserSelector.exe</b>

<p>
コマンドライン引数で受け取ったURLから、適切なWebブラウザーを選別し起動するためのラウンチャーです。メーラー、オフィススイートなどアプリケーションから適切なWebブラウザーを起動することができます。

<p>
<b>BrowserSelectorBHO.dll</b>

<p>
IE用のBHO（Browser Helper Object）です。IE上でリンクのクリックやURLバーへの入力等でページ遷移が発生する際にURLを判定し、Webブラウザーを切り替えます。切り替え先のWebブラウザーはFirefoxやChromeなど任意のものを指定できます。

<h2 id='example'>BrowserSelectorの活用例</h2>

<p>背景
<ul>
<li>Windows Server 2016のホスト4台に対して各ユーザーがリモートデスクトップで接続するシンクライアント環境。
<li>独自の社内システムがIE 11に依存している。
<li>G Suiteを含むインターネット上の公開のWebサービスを使用するためにFirefoxを使用している。
</ul>

<p>課題
<ul>
<li>社内システム上のページからインターネット上のWebページが紹介されることがあるが、IEは外部ネットワークへの接続が禁止されており閲覧できない。
<li>G Suite上のGmailから社内システムのページが紹介されることがあるが、Firefoxでそのページを開くとエラーで閲覧できない。
<li>社内システムの刷新は時間も予算もかかるため、すぐには難しい。
</ul>

<p>解決
<ul>
<li>Firefoxについては、IE View WEをプリインストールし、社内システムのURLを自動的にIEを起動する対象として登録済みの状態とする集中管理用設定ファイルを配置。これにより、Firefox上で社内システム上のURLをクリックするとスムーズにIEに遷移するようになった。
<li>IEについては、BrowserSelectorをプリインストールし、社内システムのURL以外を自動的にFirefoxを起動する対象として登録済みの状態とする設定を反映。これにより、社内システム上で社外のURLをクリックするとスムーズにFirefoxに遷移するようなった。
</ul>

<h2 id='support'>BrowserSelectorならびにFirefoxのサポート</h2>

<p>
クリアコードでは、創業以来Firefoxの企業支援やサポートを行っています。
<p>
複数ブラウザを利用する環境（特にIEとFirefox）向けには、BrowserSelectorの導入支援（設定、機能拡張）やFirefoxの導入支援（設定、アドオン開発）を提供します。

<p>
<b>【Mozillaサポートサービス URL】</b>
<a href='https://www.clear-code.com/services/mozilla/menu.html'>https://www.clear-code.com/services/mozilla/menu.html</a>

<h2 id='company'>クリアコードについて</h2>
<p>
クリアコードは、2006年7月にフリーソフトウェア開発者を中心に設立したソフトウェア開発会社です。
<p>
クリアコードの目的は、単に会社を継続していくことではありません。フリーソフトウェアの開発で学んだことを継続的にビジネス分野に活用していくことで会社を継続し、それと同時に、ビジネスを継続することでフリーソフトウェアへ継続的にコミットメントしていくこと、この両立の実現が当社の目的です。この理念は、我々がフリーソフトウェアの開発で学んだことがベースとなっています。
<p>
また、全文検索エンジンGroongaやMozilla Firefox/Thunderbirdをはじめとしたフリーソフトウェアのソースコードレベルのサポート、機能拡張、導入支援を提供しています。

<h2 id='contact'>お客様からお問い合わせ先/本リリースに関するお問い合わせ先</h2>

<p>
株式会社クリアコード 担当：南<br>
TEL：03-5927-9440<br>
メール：info@clear-code.com

<h2 id='links'>参考URL</h2>

<p>
<b>【コーポレートサイト】</b>
<a href='https://www.clear-code.com/'>https://www.clear-code.com/</a><br>
<b>【本プレスリリース】</b>
<a href='https://www.clear-code.com/press-releases/20191128-browser-selector.html'>https://www.clear-code.com/press-releases/20191128-browser-selector.html</a>
