---
layout: default
main_title: 高速データ収集ツール『Fluentd』の開発体制強化
sub_title:
type: press
keywords: Fluentd,Fluentdメンテナンス,トレジャーデータ,TreasureData,ClearCode,td-agent,ログ管理収集,データ管理収集
---
<p class="press-release-subtitle-small">
トレジャーデータ社が担当してきた開発・メンテナンス活動を継承</p>

<div class="press-release-signature">
 <p class="date">2021年7月29日</p>
 <p>株式会社クリアコード
</div>

<p>
株式会社クリアコード（本社：埼玉県所沢市、以下クリアコード）は本日、オープンソースソフトウェア『Fluentd』プロジェクトの開発・メンテナンスにおいて、トレジャーデータ株式会社（本社：東京都千代田区、以下トレジャーデータ社）が担当していた活動を引き継ぎ、開発体制を強化することをお知らせします。
</p>
<p>
『Fluentd』は2011年にトレジャーデータ社によって開発の始まったオープンソースソフトウェア（以下OSS）プロジェクトで、クリアコードは2015年9月から同プロジェクトに参加。コミュニティサポート、プラグインのメンテナンスといった活動を開始し、以降『Fluentd』本体の不具合修正、機能拡張、ドキュメント整備など活動範囲を拡大してきました。法人向けの各種サービスも提供しており、トレジャーデータ社と協働で、トレジャーデータ社の顧客に対する『Fluentd』の導入支援等も行っています。また、2020年には『Fluentd』本体と主要プラグイン・関連ソフトウェアをセットにした配布パッケージ「Treasure Agent (td-agent)」のビルドシステム刷新も主導しました。<br>
『Fluentd』に対するこれまでの実績と、様々なOSS開発で培った豊富な技術をベースに、今後も『Fluentd』の利便性を高めるさらなる開発・メンテナンス、リリースをコミュニティとともに行っていきます。あわせて『Fluentd』の配布パッケージ「Treasure Agent (td-agent)」の開発も担当し、多くのユーザーの利便性の向上に努めます。
</p>
<br>

<p>
<b>【Fluentdについて】</b></p>
<p>拡張性の高いログ収集OSS。1000以上のプラグインで様々なサービスとのデータ連携を実現。
Cloud Native Computing Foundation (CNCF) により認定されたプロジェクトの一つ。
<a target='_blank' rel='noopener' href='https://www.fluentd.org/'>https://www.fluentd.org/ </a>(外部サイト)
</p>
<p>
<b>【クリアコードについて】</b></p>
<p>
2006年の設立以来、フリーソフトウェアの推進と、そのためのビジネスの継続を社是とし、データ処理関連事業（Groonga, Fluentd/Fluent Bit, Apache Arrow）とブラウザ関連事業を展開。
</p>
<p>
<b>【クリアコードのFluentdサポートサービス】</b></p>
<p>
Fluentd/Fluent Bitの導入検討から設計・開発そして運用まで、開発及びサポートの経験豊富なエンジニアが対応。
</p>
<p>＜導入検討段階＞<br>
・ Fluentd/Fluent Bitに関する技術情報の提供<br>
・ 技術者向け勉強会の開催<br>
・ 性能評価の支援<br>
</p>
<p>
＜設計・開発段階＞<br>
・ Fluentd/Fluent Bitをつかったシステムの設計支援<br>
・ Fluentd/Fluent Bitプラグインの機能拡張/新規開発<br>
・ Fluentd/Fluent Bit本体およびプラグインのソースコードレベルのサポート<br>
</p>
<p>
＜運用段階＞<br>
・ 障害発生時のログ調査、ソースコードレベル調査と回避策やパッチの提供<br>
・ システムを継続的に改善していくことを目的としたコンサルティングサービスの提供<br>
</p>
<br>
<br>

<h2 id='contact'>当リリースに関するお問い合わせ先</h2>

<p>
株式会社クリアコード　担当：南<br>
メール：info@clear-code.com

<h2 id='links'>参考URL</h2>

<b>【コーポレートサイト】</b>
<a href='{% link index.html %}'>{{ site.url }}{% link index.html %}</a><br>
<b>【本プレスリリース】</b>
<a href='{{ page.url | relative_url }}'>{{ page.url | absolute_url }}</a>
