---
---
<!DOCTYPE html>
{% capture title %}
  {% if page.type == "top" %}
    {{ site.title }}
  {% elsif page.type == "post" %}
    {{ page.title }} - {{ page.date | date: "%Y-%m-%d" }} - {{ site.blog_name }}
  {% elsif page.title %}
    {{ page.title }} - {{ site.company_name }}
  {% else %}
    {{ page.main_title }} - {{ site.company_name }}
  {% endif %}
{% endcapture %}
{% capture title %}{{ title | strip }}{% endcapture %}
{% capture description %}
  {% if page.description %}
    {{ page.description }}
  {% else %}
    {{ page.excerpt }}
  {% endif %}
{% endcapture %}
{% capture description %}{{ description | strip_html | xml_escape | strip }}{% endcapture %}
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    {% if jekyll.environment == "production" %}
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NPRKD4K');</script>
      <!-- End Google Tag Manager -->
    {% endif %}
    {% if jekyll.environment != "production" %}
      <meta name="robots" content="noindex,nofollow">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{{ page.keywords | default: "Fluentd,Groonga,Apache Arrow,Firefox/Thunderbird,BrowserSelector" }}">
    <meta name="thumbnail" content="{{ page.thumbnail | relative_url }}">
    <meta name="author" content="{{ site.company_name }}">
    <meta name="description" content="{{ description }}">
    <!--meta property="fb:page_id" content="ClearCode.Inc"-->
    <meta property="fb:page_id" content="122528181133574">
    <meta property="fb:app_id" content="163181643715094">
    <meta property="fb:admins" content="kouhei.sutou">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:type" content="company">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:image"
          content="{{ "/images/icon.png" | absolute_url }}">
    <meta property="og:site_name" content="{{ site.company_name }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.twitter_id }}">
    <meta name="twitter:creator" content="{{ site.twitter_id }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image:src"
          content="{{ "/images/icon.png" | absolute_url }}">
    <link rel="start" title="Home" href="/">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.png">

    <link rel="stylesheet" type="text/css" href="{% link /3rdparty/foundation/foundation.css %}">
    <link rel="stylesheet" type="text/css" href="{% link /3rdparty/fontawesome/css/fontawesome.css %}">
    <link rel="stylesheet" type="text/css" href="{% link /3rdparty/fontawesome/css/solid.css %}">
    <link rel="stylesheet" type="text/css" href="{% link /3rdparty/fontawesome/css/brands.css %}">
    <link rel="stylesheet" type="text/css" href="{% link /3rdparty/jquery-bxslider/jquery.bxslider.css %}">
    <link rel="stylesheet" type="text/css" href="{% link /3rdparty/jquery-drawer/drawer.css %}">
    <link rel="stylesheet" type="text/css" href="{% link /css/highlight.css %}">
    <link rel="stylesheet" type="text/css" href="{% link /css/base.css %}">

    <script src="{% link /3rdparty/jquery/jquery-1.8.3.min.js %}"></script>
    <script defer src="{% link /3rdparty/iscroll/iscroll.min.js %}"></script>
    <script defer src="{% link /3rdparty/jquery-drawer/drawer.min.js %}"></script>
    {% if page.type == "top" %}
    <script defer src="{% link /3rdparty/jquery-bxslider/jquery.bxslider.min.js %}"></script>
    {% endif %}

    <script>
        (function(w,d,t,u,n,a,m){w['MauticTrackingObject']=n;
            w[n]=w[n]||function(){(w[n].q=w[n].q||[]).push(arguments)},a=d.createElement(t),
            m=d.getElementsByTagName(t)[0];a.async=1;a.src=u;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://ma.clear-code.com/mtc.js','mt');

        mt('send', 'pageview');
    </script>

    {% if jekyll.environment == "production" %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-12143252-2', 'clear-code.com');
        ga('send', 'pageview');
      </script>
    {% endif %}

    {% if page.type == "post" %}
      <link rel="alternate"
            type="application/rss+xml"
            title="RSS"
            href="{{ "/blog/index.rdf" | relative_url }}">
      <script type="text/javascript"
              src="//b.st-hatena.com/js/bookmark_button.js"
              charset="utf-8"
              async="async"></script>
      <script type="text/javascript"
              src="//b.hatena.ne.jp/js/widget.js"
              charset="utf-8"></script>
      <script type="text/javascript"
              src="//s.hatena.ne.jp/js/HatenaStar.js"></script>
      <script type="text/javascript">
      Hatena.Star.SiteConfig = {
        entryNodes: {
          'div.content': {
            uri: 'h2 a',
            title: 'h2',
            container: 'h2'
          }
        }
      };
      </script>
    {% endif %}
    <script async src="//platform.twitter.com/widgets.js"
            type="text/javascript">
      {lang: 'ja'}
    </script>
    <script>
    $(document).ready(function () {
        $('.drawer').drawer({showOverlay: false});
    });
    </script>

{% if page.type == "top" %}
    <script>
    $(document).ready(function () {
        $('.slider').bxSlider({
            touchEnabled: false,
            auto: true,
            autoStart: true,
            stopAutoOnClick: true,
            speed: 700,
        });
    });
    </script>
{% endif %}
    <title>{{ title }}</title>
  </head>
  <body class="drawer drawer--right">
  {% if jekyll.environment == "production" %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPRKD4K"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}

  {% include header.html %}

  {% if page.type == "top" %}
  <main class="main_wrap {{ page.type }}">
    {{ content }}
  </main>
  {% else %}
  <main class="main_wrap article {{ page.type }}">
    <h1 class='cover'>
      {% if page.type == "post" %}
      <a href="{{ "/blog/" | relative_url }}">{{ site.blog_name }}</a>
      {% elsif page.type == "press" %}
      プレスリリース
      {% elsif page.type == "topic" %}
      トピック
      {% elsif page.title %}
      {{ page.title }}
      {% elsif page.main_title %}
      {{ page.main_title }}
      {% endif %}
      {% if sub_title %}
      <span class="sub">{{ page.sub_title }}</span>
      {% endif %}
    </h1>
    <div class='inner'>
      <div class='topic_path'>
        {% topic_path %}
      </div>
      {% if page.type == "press" or page.type == "topic" %}
      <h1>{{page.main_title}}</h1>
      {% endif %}
      {% if page.toc and page.type != "post" %}
        {% include toc.html html=content %}
      {% endif %}
      {{ content }}
      {% unless page.date or page.type == "support" %}
        <div class="social-widgets">
          <a href="//twitter.com/share"
             class="twitter-share-button"
             data-lang="ja"
             data-url="{{ page.url | absolute_url }}"
             data-via="{{ site.twitter_id }}"
             data-text="{{ full_title | xml_escape }}">ツイートする</a>
        </div>
      {% endunless %}
    </div>
  </main>
  {% endif %}
  {% include footer.html %}
  {% include backtotop.html %}
  </body>
</html>
