---
layout: default
---
<p>
現在ダウンロードページの改修中です。資料をご希望の方はお手数ですが、タイトル：ダウンロード希望の資料名、本文：お名前、メールアドレス、所属（任意）の形でご入力いただき、info@clear-code.comにお問合せください。

資料を送付させていただきます。

お手数をおかけいたしますがどうぞよろしくお願いいたします。

</p>

<div class='grid-x grid-margin-x callout'>
{%- for section in site.data.downloads %}
  {% for item in section.items %}
    {% if item.link == page.url %}
   <div class='cell medium-4'>
     <img class='thumbnail' src="{{ item.link | relative_url | replace: '.html', '.png' }}">
     <h4>{{item.title}}</h4>
     <p>{{item.content}}
   </div>
    {% endif %}
  {% endfor %}
{%- endfor %}
  <div class='cell auto'>
    <script type="text/javascript"
            src="//ma.clear-code.com/form/generate.js?id={{ page.mautic_download_form_id }}">
    </script>
  </div>
</div>

<p>
個人情報の取り扱いについては<a href="/privacy-policy/">プライバシーポリシー</a>をご確認ください。同意の上ダウンロードしてください。
</p>
